In [1]:
import mysql.connector as con

In [6]:
import mysql.connector as con
new_db=con.connect(
    host="localhost",
    user="root",
    password="tiger"
)
print(new_db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001B8746AB5E0>

In [11]:
import mysql.connector as con
new_db=con.connect(
    host="localhost",
    user="root",
    password="tiger"
)
new_cursor=new_db.cursor()
new_cursor.execute("create database company")

In [12]:
import mysql.connector as con
new_db=con.connect(
    host="localhost",
    user="root",
    password="tiger"
)
new_cursor=new_db.cursor()
new_cursor.execute("show databases")
for n in new_cursor:
    print(n)

('blde',)
('college',)
('company',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [15]:
import mysql.connector as con
new_db=con.connect(
    host="localhost",
    user="root",
    password="tiger",
    database="blde"
)
new_cursor=new_db.cursor()
new_cursor.execute("CREATE TABLE EMPLOYEE(sname VARCHAR(200),sno VARCHAR(300))")

In [19]:
import mysql.connector as con
new_db=con.connect(
    host="localhost",
    user="root",
    password="tiger",
    database="blde"
)
new_cursor=new_db.cursor()
new_cursor.execute("show tables")
for i in new_cursor:
    print(i)

('employee',)

In [25]:
import mysql.connector as con
new_db=con.connect(
    host="localhost",
    user="root",
    password="tiger",
    database="blde"
)
new_cursor=new_db.cursor()
new_cursor.execute("CREATE TABLE COMPANY (regno INT AUTO_INCREMENT PRIMARY KEY, sname VARCHAR(200),sno VARCHAR(300))")

In [30]:
import mysql.connector as con
new_db=con.connect(
    host="localhost",
    user="root",
    password="tiger",
    database="blde"
)
new_cursor=new_db.cursor()
new_cursor.execute("ALTER TABLE employee ADD COLUMN regno INT AUTO_INCREMENT PRIMARY KEY")

In [4]:
import mysql.connector as con
new_db=con.connect(
    host="localhost",
    user="root",
    password="tiger",
    database="blde"
)
new_cursor=new_db.cursor()
sql="INSERT INTO employee(sname,sno)VALUES(%s,%s)"
values=("prachi","393CS20005")
new_cursor.execute(sql,values)
new_db.commit()
print(new_cursor.rowcount,"new row is inserted")

1 new row is inserted

In [12]:
import mysql.connector as con
new_db=con.connect(
    host="localhost",
    user="root",
    password="tiger",
    database="blde"
)
new_cursor=new_db.cursor()
sql="INSERT INTO employee (sname,sno) values(%s,%s)"
values=[("pooja","393CS20020"),
        ("laxmi","393CS20010"),
        ("varsha","393CS20017"),
        ("neha","393CS20018"),
       ]
new_cursor.executemany(sql,values)
new_db.commit()
print(new_cursor.rowcount,"new row are inserted")

4 new row are inserted

In [13]:
import mysql.connector as con
new_db=con.connect(
    host="localhost",
    user="root",
    password="tiger",
    database="blde"
)
new_cursor=new_db.cursor()
new_cursor.execute("select * from employee")
result=new_cursor.fetchall()
for i in result:
    print(i)

('prachi', '393CS20005', 1)
('prachi', '393CS20005', 2)
('prachi', '393CS20005', 3)
('pooja', '393CS20020', 4)
('laxmi', '393CS20010', 5)
('varsha', '393CS20017', 6)
('neha', '393CS20018', 7)

In [15]:
import mysql.connector as con
new_db=con.connect(
    host="localhost",
    user="root",
    password="tiger",
    database="blde"
)
new_cursor=new_db.cursor()
new_cursor.execute("select * from employee")
result=new_cursor.fetchone()
for i in result:
    print(i)

prachi
393CS20005
1

In [19]:
import mysql.connector as con
new_db=con.connect(
    host="localhost",
    user="root",
    password="tiger",
    database="blde"
)
new_cursor=new_db.cursor()
new_cursor.execute("SELECT Sname FROM employee")
result=new_cursor.fetchall()
for i in result:
    print(i)

('prachi',)
('prachi',)
('prachi',)
('pooja',)
('laxmi',)
('varsha',)
('neha',)