In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
a=pd.read_csv("computers.csv")

In [6]:
a

    Units  Minutes
0       1       23
1       2       29
2       3       49
3       4       64
4       4       74
5       5       87
6       6       96
7       6       97
8       7      109
9       8      119
10      9      149
11      9      145
12     10      154
13     10      166